@page "/"

@using EspHomeViewer.Components.Control;

<style>
    body {
        background-color: black;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        font-size: 10px;
        height: 100%;
        table-layout: fixed;
        margin-bottom: 20px
    }

    td {
        border: 2px solid #282828;
        text-align: center;
        padding: 3px;
    }

    tr:nth-child(even) {
        color: white;
    }

    tr:nth-child(odd) {
        color: gray;
    }
</style>

<script>
    window.downloadFileFromStream = async (fileName, contentStreamReference) => {
        const arrayBuffer = await contentStreamReference.arrayBuffer();
        const blob = new Blob([arrayBuffer]);
        const url = URL.createObjectURL(blob);
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName ?? '';
        anchorElement.click();
        anchorElement.remove();
        URL.revokeObjectURL(url);
    }
</script>

<ContextMenu Id="TotalMenu">
    <MenuItemDay OnMenuGraphClickAsync="@OnMenuGraphClickAsync" />
</ContextMenu>

<ContextMenu Id="DeviceMenu">
    @foreach (var status in EsphomeOptions.CurrentValue.StatusInfo)
    {
        <SubMenuDay StatusInfo="@status" OnMenuGraphClickAsync="@OnMenuGraphClickAsync"></SubMenuDay>
    }
</ContextMenu>

<PageTitle>S31 Data</PageTitle>
<table>
    @foreach (var group in EsphomeOptions.CurrentValue.GroupInfo)
    {
        <tr>
            <td>
                <ContextMenuTrigger MenuId="TotalMenu" MouseButtonTrigger="MouseButtonTrigger.Left" Id="@group.Id">
                    @group.Title
                </ContextMenuTrigger>
            </td>
            <td><TotalOutput GroupInfo="@group.Name" Unit="@group.Unit" Subscriber="subscriber" /></td>
        </tr>
    }
</table>

<table>
    <tr>
        <td>
            Device
        </td>
        @foreach (var status in EsphomeOptions.CurrentValue.StatusInfo.Where(x => !x.Hidden))
        {
            <td>@status.Name</td>
        }
    </tr>
    @foreach (var device in EsphomeOptions.CurrentValue.DeviceInfo)
    {
        <tr>
            <td>
                <ContextMenuTrigger Data="@device.DeviceName" MenuId="DeviceMenu" MouseButtonTrigger="MouseButtonTrigger.Left" Id="@device.Name">
                    @device.DeviceName
                </ContextMenuTrigger>
            </td>
            @foreach (var status in EsphomeOptions.CurrentValue.StatusInfo.Where(x => !x.Hidden))
            {
                <td><SingleInput DeviceName="@device.DeviceName" Name="@status.Name" Unit="@status.Unit" Subscriber="subscriber" /></td>
            }
        </tr>
    }
</table>