@page "/S31"

@using EspHomeViewer.Components.Control;

<ContextMenu Id="TotalMenu">
    <MenuItemDay OnMenuGraphClickAsync="@OnMenuGraphClickAsync" />
</ContextMenu>

<ContextMenu Id="DeviceMenu">
    @foreach (var status in EspHomeData.EsphomeOptions.StatusInfo)
    {
        <SubMenuDay StatusInfo="@status" OnMenuGraphClickAsync="@OnMenuGraphClickAsync"></SubMenuDay>
    }
</ContextMenu>

<PageTitle>S31 Data</PageTitle>
<table>
    <tbody>
        @foreach (var group in EspHomeData.EsphomeOptions.GroupInfo)
        {
            <tr>
                <td>
                    <ContextMenuTrigger MenuId="TotalMenu" MouseButtonTrigger="MouseButtonTrigger.Left" Id="@group.Id">
                        @group.Title
                    </ContextMenuTrigger>
                </td>
                <td><TotalOutput GroupInfo="@group.Name" Unit="@group.Unit" ChannelSubscriberUpdate=ChannelSubscriberUpdate /></td>
            </tr>
        }
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>
                Device
            </th>
            @foreach (var status in EspHomeData.EsphomeOptions.StatusInfo.Where(x => !x.Hidden))
            {
                <th>@status.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var device in EspHomeData.EsphomeOptions.DeviceInfo)
        {
            <tr>
                <td>
                    <ContextMenuTrigger Data="@device.DeviceName" MenuId="DeviceMenu" MouseButtonTrigger="MouseButtonTrigger.Left" Id="@device.Name">
                        @device.DeviceName
                    </ContextMenuTrigger>
                </td>
                @foreach (var status in EspHomeData.EsphomeOptions.StatusInfo.Where(x => !x.Hidden))
                {
                    <td><SingleInput DeviceName="@device.DeviceName" Name="@status.Name" Unit="@status.Unit" ChannelSubscriberUpdate=ChannelSubscriberUpdate /></td>
                }
            </tr>
        }
    </tbody>
</table>